.right-most-preview-container {
    margin-left: 1.5vw;
}

.project-preview-container {
    margin-right: 1.5vw;
    color: black; 
    text-decoration: none;
    width: calc(80vh * 1.5) !important;
}

.project-cover-image-container {
    position: relative;
}

.project-cover-video {
    height: 80vh;
    display: inline-block;
    z-index: 20;
}

.project-cover-video-hidden {
    visibility: hidden;
}

.project-cover-image {
    height: 80vh;
    display: inline-block;
    position: absolute;
}

.project-cover-image-hidden {
    visibility: hidden;
}

.project-info-container {
    margin-top: 2vh;
    display: flex;
}

.project-title {
    margin-bottom: 1.5vh;
    display: inline-block;
}

.hovering-project-title {
    text-decoration: underline;
}

.project-metadata-container {
    display: flex;
}

.project-metadata {
    margin-right: 6%;
}

.project-metadata-title {
    margin-bottom: .2vh;
    font-style: italic;
}

.project-info-row1 {
    width: 50%;
}

.project-info-row2 {
    width: 50%;
    float: right;
}